/* vg-player {
    background-color: transparent;
    margin: 30px;
    width: 70%;
    height: 50%;
}
    vg-controls {
        padding: 30px;
        transition: all 1s;
    } */

    vg-player video {
        width: 120%;
        height: 100%;
    }