/* to set height of carousel images*/
.set-height{
height:490px;
}

/* css for tab buttons*/
.custom-fill .nav-link{
    background: red;
    border: 1px solid greenyellow;
    color: white;
}

/* css for tab buttons on hover*/ 
.custom-fill .nav-link:focus,.custom-fill .nav-link:hover{
    background: #2948ff;
    color: white;
}

/* css for circular images */
.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }